*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

.container{
    width:90%;
    margin:auto;
    padding:30px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

#search{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    margin-bottom:25px;
    font-size:16px;
}

.card{

    background:#1e293b;

    padding:20px;

    border-radius:12px;

    margin-bottom:20px;

    box-shadow:0 5px 12px rgba(0,0,0,0.25);

}

.card h2{

    margin-bottom:10px;

}

.card p{

    margin:8px 0;

}

.status{

    color:#facc15;

    font-weight:bold;

    margin-top:10px;

}

button{

    border:none;

    padding:10px 20px;

    border-radius:8px;

    cursor:pointer;

    margin-top:15px;

    margin-right:10px;

    transition:.3s;

}

.approve{

    background:#22c55e;

    color:white;

}

.approve:hover{

    background:#15803d;

}

.reject{

    background:#ef4444;

    color:white;

}

.reject:hover{

    background:#b91c1c;

}

.no-data{

    text-align:center;

    font-size:22px;

    margin-top:50px;

}