*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:40px;
}

.container{
    width:800px;
}

h1{
    text-align:center;
    margin-bottom:30px;
    color:#3b82f6;
}

.box,
.result{

    background:#1e293b;

    padding:30px;

    border-radius:15px;

    margin-bottom:25px;

}

label{

    display:block;

    margin-top:15px;

    margin-bottom:8px;

    font-weight:bold;

}

input,
textarea{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    margin-bottom:15px;

    font-size:16px;

}

textarea{

    resize:none;

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    cursor:pointer;

    font-size:18px;

    transition:.3s;

}

button:hover{

    background:#1d4ed8;

}

.result{

    display:none;

}

.result h2{

    margin-bottom:20px;

    color:#60a5fa;

}

.result p{

    margin:12px 0;

    font-size:18px;

}

.high{

    color:red;

    font-weight:bold;

}

.medium{

    color:orange;

    font-weight:bold;

}

.low{

    color:lime;

    font-weight:bold;

}