*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
display:flex;
background:#0f172a;
color:white;
}

.sidebar{
width:250px;
height:100vh;
background:#111827;
padding:20px;
position:fixed;
}

.sidebar h2{
text-align:center;
margin-bottom:30px;
color:#3b82f6;
}

.sidebar ul{
list-style:none;
}

.sidebar ul li{
margin:20px 0;
}

.sidebar ul li a{
text-decoration:none;
color:white;
font-size:17px;
display:block;
transition:.3s;
}

.sidebar ul li a:hover{
color:#3b82f6;
padding-left:10px;
}

.main{
margin-left:250px;
padding:30px;
width:100%;
}

.topbar{
margin-bottom:30px;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:15px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card i{
font-size:35px;
color:#3b82f6;
margin-bottom:15px;
}

.quick{
margin-top:40px;
}

.buttons{
margin-top:20px;
display:flex;
gap:20px;
flex-wrap:wrap;
}

button{
padding:15px 30px;
background:#2563eb;
border:none;
border-radius:10px;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

.recent{
margin-top:50px;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

table th,
table td{
padding:15px;
background:#1e293b;
text-align:center;
border-bottom:1px solid #333;
}

.pending{
color:orange;
font-weight:bold;
}

.approved{
color:#22c55e;
font-weight:bold;
}

@media(max-width:900px){

.sidebar{
display:none;
}

.main{
margin-left:0;
}

.cards{
grid-template-columns:1fr;
}

.buttons{
flex-direction:column;
}

}