*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;

}

body{

background:#0f172a;
color:white;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

}

.container{

width:70%;

}

h1{

text-align:center;

margin-bottom:30px;

color:#3b82f6;

}

.form{

background:#1e293b;

padding:30px;

border-radius:15px;

}

input,
textarea{

width:100%;

padding:15px;

margin:15px 0;

border:none;

border-radius:10px;

font-size:16px;

}

button{

padding:15px 30px;

background:#2563eb;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

font-size:17px;

}

button:hover{

background:#1d4ed8;

}

.status{

margin-top:30px;

background:#1e293b;

padding:25px;

border-radius:15px;

}

.status p{

margin:15px 0;

font-size:18px;

}